<!DOCTYPE html>

<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>
<body>
  <main>
    <div>
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p}}
        <button type="submit">Login</button>
      </form>
    </div>
  </main>

</body>
</html>
