<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <main>
        <a href="{% url 'list_categories' %}">List</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expensecategory_list %}
    <tr>
      <td>{{ expense.name }}</td>
      <td>{{expense.receipts.all|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <li>
    <a href="{% url 'create_category' %}">Create</a>
  </li>
</div>
    </main>

</body>
</html>