<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Vendors</th>
                            <th>Total</th>
                            <th>Tax</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipt_list%}
                        <tr>
                            <td>{{receipt.vendor}}</td>
                            <td>{{receipt.total}}</td>
                            <td>{{receipt.tax}}</td>
                            <td>{{receipt.date|date:'m-d-Y' }}</td>
                            <td>{{receipt.category}}</td>
                            <td>{{receipt.account}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
    </main>

</body>
</html>